<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferreteria Ferme</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{%  static 'core/css/index.css' %}">

    <link rel="stylesheet" href="{%  static 'core/css/glide.core.min.css' %}">
    <link rel="stylesheet" href="{%  static 'core/css/glide.theme.min.css' %}">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

    {%block css%}
    {%endblock%}
</head>
<body>

  <style>
        
    .submenu {
        position: relative;
    }

    .submenu #carrito{
        display: none;
    }

    .submenu:hover #carrito{
        display: block;
        position: absolute;
        right:0;
        top:100%;
        z-index: 1;
        background-color: white;
        padding: 20px;
        min-height: 650px;
        min-width: 500px;
    }

      .borrar-curso-carrito {
      border-radius: 50%;
      padding: 10px 10px;
      text-decoration: none;
      font-weight: bold;
      }

      .modal-bg{
        position:fixed; 
        width: 100%;
        height: 100vh;
        top:0px; 
        left:0px;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: start;
        align-items: flex-start;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
      }

      .bg-active{
        visibility: visible; 
        opacity: 1;
      }

      .modal-d{
        position: relative;
        width: 20%;
        opacity: 0;
        height: 100vh;
        background-color: white;
        transition: width 0.5s;
      }
      
      .modal-active{
        width: 27%;
        opacity: 1;
        background: white;
      }

      .modal-close{
        position: absolute;
        top:10px; 
        right: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      .modal-d > ul{
        font-size: 15px;
        list-style-type: square;
        cursor: pointer;      
      }

    .btn-mod{
      position: absolute;
      font-size: 1.2em;
      margin-top: 7.4em;
      z-index: 1;
      font-weight:bold;
    }

    .btn-mod i {
      font-size: 15px;
      font-weight: bold;
    }

    nav{
      position: relative;
    }
  </style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="{%  static 'core/img/ferme2.jpg' %}" class="img-responsive logo-img" alt="Logo del sitio web"></a>
          <p class="element"></p>
          {% if user.is_authenticated %}
          <a class="titulo-nav" href="{% url 'logout' %}">Cerrar sesión</a> 
          {% else %}
          <a class="titulo-nav" href="{% url 'login' %}">Iniciar sesión</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              
              {% if user.is_authenticated %}
              {% if perms.core.change_cliente %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_clientes' %}">Clientes</a>
              </li>
              {% endif %}
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'productos' %}">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sobre_nosotros'%}">Sobre Nosotros</a>
              </li>

              {% if perms.core.delete_empleado %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_empleados' %}">Empleados</a>
              </li>
              {% endif %}

              {% if perms.core.delete_proveedor %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'listado_proveedor' %}">Proveedor</a>
                </li>
              {% endif %}

              {% if perms.core.delete_ordencompra %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_orden_compra' %}"> Ordenes</a>
              </li>
              {% endif %}

              {% if perms.core.delete_producto %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_productos' %}">Producto</a>
              </li>
              {% endif %}

              {% if perms.core.delete_factura%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_factura' %}">Factura</a>
              </li>
              {% endif%}

              {% if perms.core.delete_boleta%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_boleta' %}">Boleta</a>
              </li>
              {% endif%}

              {% if perms.core.delete_ordencompra %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_recepcion_orden' %}"> Recepcion </a>
              </li>
              {%endif%}

              {% if user.is_authenticated %}
              <li class="nav-item">
                {% if not user.is_superuser %}
                <a class="nav-link" href="{% url 'edit_profile'%}">Bienvenido: {{user.username }}</a>
                {%else%}
                  <a class="nav-link" href="#">Bienvenido: {{user.username }}</a>
                {%endif%}
              </li>

              {% if not user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'change_password' %}"> Cambiar Contrasena </a>
              </li>
              {%endif%}
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro_usuario' %}"> Registrarse </a>
              </li>
              {% endif %}

              {% if user.is_authenticated %}
                {% if perms.core.add_pedido %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_pedidos' %}"> Pedidos </a>
              </li>
                {%endif%}
              {% endif %}

              {% if not user.is_superuser %}
              {% if user.is_authenticated %}
              <li class="submenu nav-item">
                <img src="{%  static 'core/img/cart.png' %}" id="img-carrito" width="25px">
                <div id="carrito">
                        
                        <table id="lista-carrito" class="table">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>SKU</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="{% url 'pedido' %}" onclick="pedido()"  class="btn btn-outline-success w-100 my-2">Ir Al Pedido</a>
                        <a href="#" id="vaciar-carrito" class="btn btn-outline-danger w-100">Vaciar Carrito</a>
                </div>
                </li>
                {% endif %}
                {% endif %}

            </ul>
          </div>
        </div>
      </nav>





      {% block contenido %}

      {%endblock%}



        <footer class="container-fluid bg-light mt-5">
          <div class="row text-center footer-list py-5">
            <div class="col-lg-3">
              <ul>
                <li><h6>Servicios</h6></li>
                <li>Como Comprar</li>
                <li>Despacho</li>
                <li>Cuenta</li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'consultar_proveedor' %}"> Consultar Proveedor </a>
                </li>

                {% if user.is_superuser %}

                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'reportes' %}"> Reportes </a>
                </li>
                {%endif%}
              </ul>
            </div>

            <div class="col-lg-3">
              <ul>
                <li><h6>Centro de Ayuda</h6></li>
                <li>Ayuda</li>
                <li>Terminos y Condiciones</li>
                <li>Preguntas Frecuentes</li>
              </ul>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <h2>Contactanos</h2>
                  <span class="mx-2">Escribenos Al Whatssap</span>
                  <img class="mx-2" src="{%  static 'core/img/wsp_icon.png' %}" style="width: 50px;" alt="wsp_icon" onclick="enviarWsp('56936596958','Estaba navegando en su pagina web y me interesaria hacer una consulta' )"></img>
                </div>

                <div class="col-lg-6">
                  <h4>Siguenos en Nuestras Redes</h4>
                  <div class="row">
                    <div class="col-lg-3">
                      <i class="fab fa-facebook"></i>
                    </div>

                    <div class="col-lg-3">
                      <i class="fab fa-twitter"></i>
                    </div>

                    <div class="col-lg-3">
                      <i class="fab fa-instagram"></i>
                    </div>

                    <div class="col-lg-3">
                      <i class="fab fa-pinterest"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-bg" style="z-index: 1000000;">
            <div class="modal-d">
              <h3 class="my-3 mx-3 py-5">Escoge un filtro</h3>

              <ul>
                <li onclick="filtrarProducto('1')">Clavos</li>
                <li onclick="filtrarProducto('5')">Cerraduras</li>
                <li onclick="filtrarProducto('4')">Patio</li>
                <li onclick="filtrarProducto('6')">Herramientas Manuales</li>
                <li onclick="filtrarProducto('2')">Taladros</li>
                <li onclick="filtrarProducto('3')">Martillos</li>
              </ul>

              <span class="modal-close">X</span>
            </div>
          </div>


        </footer>



        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

        <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        <script>
          function pedido(){
            window.location.href = "/pedido/";
          }

        function enviarWsp(telefono, mensaje){
          window.open(`https://wa.me/${telefono}/?text=${mensaje}`, '_blank');
        }
        </script>

      {%block js%}
      <script>
        const config1 = {
          autoplay:2000,
          type:'carousel', 
          perView: 1
        }
        new Glide('.glide', config1).mount()

        const config2 = {
          autoplay:1500,
          type:'carousel', 
          perView: 4
        }
        new Glide('.glide2', config2).mount()

        
      </script>

      
      {%endblock%}

      <script>
        let modalLink = document.querySelector('.modal-link');
        let modalBg = document.querySelector('.modal-bg');
        let modal = document.querySelector('.modal-d')

        let modalClose = document.querySelector('.modal-close');

        console.log(modal)

        modalLink.addEventListener('click', function(){ 
          modalBg.classList.add('bg-active');
          modal.classList.add('modal-active');
        })


        modalClose.addEventListener('click', function(){
          modalBg.classList.remove('bg-active');
          modal.classList.remove('modal-active');
        })


        function filtrarProducto(tipo){
          window.location.href = "/detalle_filtro_producto/"+tipo+"/";
        }

      </script>

      
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    
</body>
</html>

