{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{%block css%}
{%endblock%}

{% block contenido%}
<div class="container mt-5 pt-5">

    <div class="col-lg-12 my-5">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info"  target="_blank" href="{%  static 'core/manuales/manual_consulta_proveedor.pdf' %}">Manual Consulta Proveedor</a>
        </div>
    </div>
    
    <div class="mt-5 pt-5">
        <h3 class="my-5">Consulta las ordenes Proveedor</h3>

        <form method="POST" id="formulario_consultar_proveedor">
            {% csrf_token %}
            <div class="form-group">
                <label for="rut_proveedor"> Rut Proveedor </label>
                <input required type="number" class="form-control" name="rut_proveedor" id="rut_proveedor">
            </div>

            <button type="submit" class="btn btn-success btn-block">Buscar Proveedor</button>

            {% if mensaje %}
            
            <div class="alert alert-success my-3" role="alert">
        
                {{mensaje}}
            </div>
            {% endif%}

            {% if error %}
            
            <div class="alert alert-danger my-3" role="alert">
        
                {{error}}
            </div>
            {% endif%}
        </form>
    </div>


{% if ordenes_prov %}
     
<div class="container my-5">
    <hr>
    <h5 class="my-3">Listado Ordenes De Compra</h5>
    <hr>
</div>

<div>
    <div class="container mb-5 pb-5">
        <table id="example1" class="table table-hover" style="width:100%">
            <thead class="">
                <tr>
                    <th>Orden Nro</th>
                    <th>Fecha Solicitud</th>
                    <th>Rut Proveedor</th>
                    <th>Nombre Proveedor</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for o in ordenes_prov%}
                <tr>
                    <td>{{o.ID_ORDEN_COMPRA}}</td>
                    <td>{{o.FECHA_SOLICITUD}}</td>
                    <td>{{o.RUT_PROVEEDOR}}</td>
                    <td>{{o.NOMBRE_PROVEEDOR}}</td>
                    <td>{{o.ESTADO}}</td>
                    <td>{{o.TOTAL}}</td>
                    <td>
                        <a href="{% url 'modificar_consultar_proveedor' o.ID_ORDEN_COMPRA %}"><i class="fas fa-edit text-dark"></i></a>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <th class="mx-5">Proveedor</th>
                    <th>Fecha Solicitud</th>
                    <th>Rut Proveedor</th>
                    <th>Nombre Proveedor</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{%endif%}
</div>

<style>
    #rut_proveedor-error{
        color:red;
    }
</style>
{% endblock%}


{% block js%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>


<script>

    $(document).ready(function(){
        
    jQuery.extend(jQuery.validator.messages, {
  	required: "Este campo es obligatorio.",
  	remote: "Por favor, rellena este campo.",
  	email: "Por favor, escribe una dirección de correo válida",
  	url: "Por favor, escribe una URL válida.",
  	date: "Por favor, escribe una fecha válida.",
  	dateISO: "Por favor, escribe una fecha (ISO) válida.",
  	number: "Por favor, escribe un número entero válido.",
  	digits: "Por favor, escribe sólo dígitos.",
  	creditcard: "Por favor, escribe un número de tarjeta válido.",
  	equalTo: "Por favor, escribe el mismo valor de nuevo.",
  	accept: "Por favor, escribe un valor con una extensión aceptada.",
  	maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
  	minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
  	rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  	range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  	max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  	min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
	});


    var validator = $('#formulario_consultar_proveedor').validate({
        rules:{
            rut_proveedor:{
                required:true,
                number:true, 
                minlength:9
            }
        }
    }); 

    }); 

</script>
{% endblock%}