{% extends 'core/base.html' %}

{% load static%}

{% block contenido%}

<div class="container my-5 py-5" id="lista-productos">

    <div class="row">
        <div class="col-lg-12 my-5 py-5">
            <h3>{{titulo_pagina}}</h3>
        </div>

        {% if sin_productos %}
            <div class="col-lg-12">
                <h5>{{sin_productos}}</h5>
            </div>
        {%else%}
            {% for h in productos%}
                <div class="col-lg-3 p-1">
                <img src="{{h.imagen.url}}" alt="..." class="img-responsive w-100">
                <p class="nombre_prod">{{h.nombre}}</p>
                <p><small class="id_prod">{{h.id_producto}}</small></p>
                <hr>
                <p><small class="stock_prod">Quedan: {{h.stock}}</small></p>
                <p><small>Precio: <span class="precio_prod">{{h.precio}}</span></small></p>
                <hr>
                <a href="#" class="boton-carrito text-dark agregar-carrito">Agregar Al Carrito</a>
                <br>
                <label for="cantidad_carrito" style="font-size: 0.8em;">Cantidad:</label>
                <input class="mx-5 px-2 text-center"style="width: 25%; height: 20px; font-size:12px; border:0px solid white; border-bottom:1px solid #ccc;" type="number" placeholder="" name="cantidad_carrito" class="cantidad_carrito" id="cantidad_carrito" value="1">
                </div>
            {%endfor%}
        {%endif%}

</div>
{%endblock%}



{%block js%}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>

  const carrito = document.getElementById('carrito');
  const lista_productos_carrito = document.querySelector('#lista-carrito tbody'); 
  const productos = document.getElementById('lista-productos');
  const vaciarCarritoBtn = document.getElementById('vaciar-carrito'); 

  cargarEventListeners(); 


  function cargarEventListeners(){
      //Al cargar el documento, mostrar productos desde locals
      document.addEventListener('DOMContentLoaded', leerLocalStorage)

      productos.addEventListener('click', comprarProducto); 

        //Cuando se elimina un producto del carrito
      carrito.addEventListener('click', eliminarProductoDeCarrito);

      vaciarCarritoBtn.addEventListener('click', vaciarCarrito);

  }

  function comprarProducto(e){
    e.preventDefault();

    //Delegation para agregar-carrito
    if(e.target.classList.contains('agregar-carrito')){
        const producto = e.target.parentElement;

        console.log(producto)

        leerDatosProducto(producto);
    }
}

function leerDatosProducto(producto){

  precio_final = parseInt(producto.querySelector('.precio_prod').textContent) * parseInt(producto.querySelector('#cantidad_carrito').value)

const infoProducto = {
    imagen: producto.querySelector('img').src, 
    nombre_producto: producto.querySelector('.nombre_prod').textContent, 
    id_producto : producto.querySelector('.id_prod').textContent, 
    stock_producto: producto.querySelector('.stock_prod').textContent, 
    precio_producto: precio_final, 
    cantidad: producto.querySelector('#cantidad_carrito').value
}

console.log(infoProducto)


insertarProductoAlCarrito(infoProducto);
}

function insertarProductoAlCarrito(infoProducto){

    console.log(document.getElementById('cantidad_carrito').value);
    const row = document.createElement('tr');

    row.innerHTML = `
        <td> <img src="${infoProducto.imagen}" width="70px">  </td>
        <td><small>${infoProducto.id_producto}</small></td>
        <td><small>${infoProducto.nombre_producto}</small></td>
        <td><small>${infoProducto.cantidad}</small></td>
        <td><small>${infoProducto.precio_producto}</small></td>
        
        <td>
            <a href="#" class="borrar-curso-carrito" data-id="${infoProducto.id_producto}">X</a>
        </td>
        <td></td>
    `;

    lista_productos_carrito.appendChild(row);

    //Guardar en localstorage

    guardarProductoLocalStorage(infoProducto);

    Swal.fire({
                title: 'Espera un momento !',
                html: 'Añadiendo a Carrito',// add html attribute if you want or remove
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            });

    setTimeout(() => {
      Swal.fire(
        'Perfecto!',
        'Tu Producto fue agregado al carrito! <hr><small>Revisalo en el icono del carrito <img src="{%  static "core/img/cart.png" %}" id="img-carrito" width="18px"><small>',
        'success'
      )
    }, 1000);
}

function guardarProductoLocalStorage(infoProducto){
    let productos;

    productos = obtenerProductosLocalStorage();
    productos.push(infoProducto);

    //El producto seleccionado se agrega a locals
    localStorage.setItem('productos', JSON.stringify(productos))
}

  function vaciarCarrito(e){

  while(lista_productos_carrito.firstChild){
      lista_productos_carrito.removeChild(lista_productos_carrito.firstChild);
  }
  vaciarLocalStorage(); 

  return false;
  }

      //Comprueba que haya elementos en locals
  function obtenerProductosLocalStorage(){
      let productos_localStorage; 

      //Comprobar si hay algo en locals

      if(localStorage.getItem('productos') === null){
          productos_localStorage = []
      }else{
          productos_localStorage = JSON.parse( localStorage.getItem('productos') );
      }

      return productos_localStorage;
  }



  //mostrar productos desde locals
  function leerLocalStorage(){
      let productosLocalStorage; 

      productosLocalStorage = obtenerProductosLocalStorage();

      productosLocalStorage.forEach(infoProducto => {
          const row = document.createElement('tr');

          row.innerHTML = `
              <td> <img src="${infoProducto.imagen}" width="70px">  </td>
              <td><small>${infoProducto.id_producto}</small></td>
              <td><small>${infoProducto.nombre_producto}</small></td>
              <td><small>${infoProducto.cantidad}</small></td>
              <td><small>${infoProducto.precio_producto}</small></td>
              <td>
                  <a href="#" class="borrar-curso-carrito" data-id="${infoProducto.id_producto}">X</a>
              </td>
              <td></td>
          `;
      
          lista_productos_carrito.appendChild(row);
      });

  }


  
function eliminarProductoDeCarrito(e){
      e.preventDefault();

      let producto, productoId;

      if(e.target.classList.contains('borrar-curso-carrito')){
        e.target.parentElement.parentElement.remove();
        producto = e.target.parentElement.parentElement;
        productoId = producto.querySelector('a').getAttribute('data-id');
      }

      eliminarProductoLocalStorage(productoId)
  }

  function eliminarProductoLocalStorage(producto_id){
  let productosLS; 

  productosLS = obtenerProductosLocalStorage();

  productosLS.forEach(function(productoLS, index) {
      if(productoLS.id_producto === producto_id){
          productosLS.splice(index, 1);
      }
  }); 

  localStorage.setItem('productos', JSON.stringify(productosLS) )
}


function vaciarLocalStorage(){
  localStorage.clear(); 
}
</script>

{%endblock%}
