{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{%block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" >
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{%endblock%}

{% block contenido%}

<div class="container">

    <div class="py-5 my-5">
        <h2 class="mt-5 pt-5">Agregar Una Orden De Compra</h2>
    </div>

        

    <div class="row mt-5 pt-5">

        <div class="col-lg-5">
            <form class="form-group" action="" method="POST">
                {% csrf_token %}
                    {{form | crispy}}
        </div>

        <div class="col-lg-6">

            <table id="listado_productos" class="table table-hover" style="width:100%">
                <thead class="">
                    <tr>
                        <th>SKU</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Valor Compra</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in productos%}
                    <tr>
                        <td><small>{{p.ID_PRODUCTO}}</small></td>
                        <td><small>{{p.NOMBRE}}</small></td>
                        <td><small>{{p.NOMBRE_PROVEEDOR}}</small></td>
                        <td><small>{{p.VALOR_PRODUCTO_COMPRA}}</small></td>
                        <td>
                            <a onclick="selectProducto('{{p.ID_PRODUCTO}}','{{p.NOMBRE}}', '{{p.VALOR_PRODUCTO_COMPRA}}')"><i class="fas fa-plus-circle" data-toggle="tooltip_seleccionar_producto" title="Producto: {{p.ID_PRODUCTO}}"></i></a>
                            
                        </td>
                    </tr>
                {%endfor%}
                </tbody>
                <tfoot>
                    <tr>
                        <th>SKU</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
            
            <div class="form-group">
                <label for="id_producto">SKU Producto</label>
                <input required type="text" readonly class="form-control" name="id_producto" id="id_producto">
            </div>

            <div class="form-group">
                <label for="nombre_producto text-left">Nombre Producto</label>
                <input required type="text" readonly class="form-control" name="nombre_producto" id="nombre_producto">                    
            </div>

            <div class="form-group">
                <label for="id_cantidad text-left">Cantidad</label>
                <input required type="text" class="form-control" name="id_cantidad" id="id_cantidad">
            </div>

            <div class="form-group">
                <label for="id_precio_detalle text-left">Precio</label>
                <input required type="text" class="form-control" name="id_precio_detalle" id="id_precio_detalle">
            </div>

            <div class="form-group">
                <label for="id_precio text-left">Total</label>
                <input required type="text" class="form-control" name="id_precio" id="id_precio">
            </div>


            <input type="submit" class="btn btn-success" name="btnGuardar" value="Guardar Orden"/>


        </div>

            </form>

            {% if mensaje %}
            
            <div class="alert alert-success" role="alert">
                
                {{mensaje}}
            </div>
            {% endif%}
        </div>



        
    </div>


</div>


    
<div class="container mt-3">
    <hr>
    <h5 class="my-3">Listado Ordenes De Compra</h5>
    <hr>
</div>

<div>
    <div class="container mb-5 pb-5">
        <table id="listado_ordenes" class="table table-hover" style="width:100%">
            <thead class="bg-warning">
                <tr>
                    <th>Orden Nro</th>
                    <th>Fecha Solicitud</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for o in ordenesDeCompra%}
                <tr>
                    <td>{{o.ID_ORDEN_COMPRA}}</td>
                    <td>{{o.FECHA_SOLICITUD}}</td>
                    <td>{{o.NOMBRE}}</td>
                    <td>{{o.DESCRIPCION}}</td>
                    <td>{{o.TOTAL}}</td>
                    <td>
                        <a href="{% url 'modificar_orden' o.ID_ORDEN_COMPRA %}"><i class="fas fa-edit text-dark" data-toggle="tooltip_modificar_orden" title="Modificar Orden"></i></a>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <th class="mx-5">Proveedor</th>
                    <th>Fecha Solicitud</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<style>
    .pull-left{
        float: right !important;
        margin-top: -20px;
        padding: 10px 0px;
    }
</style>

{%endblock%}
{% block js%}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>




<script>

  // Call the dataTables jQuery plugin
  $(document).ready(function() {

    $("#id_estado_orden_id_estado").prop("selectedIndex", 1);


      $("#id_proveedor_id_proveedor").change(function(){

          var selectedText = $("#id_proveedor_id_proveedor option:selected").html();

          var table = $('#example').DataTable();

          table.search( selectedText ).draw();

          
      })

    $("#id_neto").val(0);
    $("#id_total").val(0);
    $("#id_iva").val(0);

    $('#id_neto').attr('readonly', true);
    $('#id_total').attr('readonly', true);
    $('#id_iva').attr('readonly', true);

    $('#id_cantidad').attr('readonly', true);
    $('#id_precio').attr('readonly', true);
    $('#id_precio_detalle').attr('readonly', true);

    $('[data-toggle="tooltip_seleccionar_producto"]').tooltip();  
    $('[data-toggle="tooltip_modificar_orden"]').tooltip();  


    jQuery('#id_fecha_solicitud').datetimepicker({
          format: 'd/m/yy',
          timepicker:false
    });

    

  $('#listado_productos').DataTable({
      
    "pageLength": 2,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });


  $('#listado_ordenes').DataTable({
    dom: 'Bfrtip',
        buttons: [
            'copy', 
            'excel',
            'pdf', 
            'print'
        ],
    "pageLength": 5,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });


  $('#id_cantidad, #id_precio_detalle').change(function(){
      calcularDetalle();
  });

  $('.dataTables_filter').addClass('pull-left');


  $('#id_proveedor_id_proveedor').change(function(){
      console.log($(this).find('option:selected').text());
      $("#listado_productos").DataTable().search($(this).find('option:selected').text()).draw();
  });
});


function selectProducto(id, descripcion, precioCompra){


    console.log(descripcion);

    $("#id_cantidad").val(0);
    $("#id_precio_detalle").val(0);
    $("#id_precio").val(0);
    $('#id_precio_detalle').attr('readonly', false);
    $("#id_producto").val(id);
    $("#nombre_producto").val(descripcion);
    $('#id_precio_detalle').val(precioCompra)

    $('#id_cantidad').attr('readonly', false);
    $('#id_precio').attr('readonly', true);
    $("#id_cantidad").focus();
    $("#id_cantidad").select();


}

function calcularDetalle(){
    let cantidad, precio, total

    cantidad = $("#id_cantidad").val();
    cantidad = cantidad === "" ? 0 : +cantidad;
    cantidad = cantidad<0 ? 0 : cantidad;

    precio = $("#id_precio_detalle").val();
    precio = precio === "" ? 0 : +precio;
    precio = precio<0 ? 0 : precio;

    total = cantidad * precio;

    iva = total * 0.19; 

    total_final = total + iva; 

    $("#id_precio").val(total);
    $("#id_neto").val(total);
    $("#id_iva").val(Math.round(iva));
    $("#id_total").val(Math.round(total_final));


}
    </script>
{%endblock%}