{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{%block css%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" >
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{%endblock%}



{% block contenido%}

<style>
</style>

<div class="container mt-5 pt-5">

    
    <div class="col-lg-12 my-5">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info"  target="_blank" href="{%  static 'core/manuales/manual_agregar_empleado.pdf' %}">Manual Agregar Empleado</a>
        </div>
    </div>

        

    <div class="row mt-5 pt-3">

        <div class="my-5">
            <h3>Registrar Empleado</h3>
        </div>
        <div class="col-lg-12">
            <form class="form-group" action="" method="POST" id="formulario_registro_empleado">
                {% csrf_token %}
                
                <hr>
                <h5>Datos Usuario</h5>
                <hr>

                <div class=" form-user">
                    {{userForm | crispy}}
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <hr>
                            <h5>Datos Empleado</h5>
                        <hr>
                        {{form | crispy}}
                    </div>

                    <div class="col-lg-6">
                        <hr>
                            <h5>Datos Direccion</h5>
                        <hr>
                        {{formDir | crispy }}
                    </div>
                </div>

    
                <input class="btn btn-info"type="reset" value="Limpiar Datos">
                <input class="btn btn-success" type="submit" value="Guardar Empleado">
            </form>

            {% if mensaje %}
            
            <div class="alert alert-success" role="alert">
                
                {{mensaje}}
            </div>
            {% endif%}
        </div>
    </div>


</div>

<div class="container">
    <hr>
    <h5 class="my-2 py-2">Listado Empleados</h5>
    <hr>
</div>

<div>
    <div class="container mb-5 pb-5">
    <table id="tabla_empleados" class="table table-hover">
        <thead>
          <tr class="bg-info">
            <th scope="col">Rut Empleado</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Tipo Empleado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {%for e in empleados%}
            <tr>
                <td>{{e.rut_empleado}}</td>
                <td>{{e.nombres}}</td>
                <td>{{e.amaterno}}</td>
                <td>{{e.telefono}}</td>
                <td>{{e.correo}}</td>
                <td>{{e.tipo_empleado_id_tipo_empleado}}</td>
                <td>
                    <a href="{% url 'modificar_empleado' e.rut_empleado%}"><i class="fas fa-edit text-dark"></i></a>
                    
                </td>
            </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>
</div>

<style>
    .pull-left{
        float: right !important;
        margin-top: -20px;
        padding: 10px 0px;
    }

    #id_username-error, #id_first_name-error, #id_last_name-error, 
    #id_email-error, #id_password1-error, #id_password2-error, #id_rut_empleado-error,
    #id_nombres-error, #id_apaterno-error, #id_amaterno-error, #id_telefono-error, 
    #id_correo-error, #id_tipo_empleado_id_tipo_empleado-error, #id_numero-error, 
    #id_calle-error, #id_piso-error, #id_codigo_postal-error, #id_tipo_vivienda_id_tipo_vivienda-error,
    #id_comuna_id_comuna-error, #id_estado_empleado_id_estado_emp-error{
        color:red;
    }
</style>
{% endblock %}

{% block js%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>
$(document).ready(function(){

    //version traducida

	jQuery.extend(jQuery.validator.messages, {
  	required: "Este campo es obligatorio.",
  	remote: "Por favor, rellena este campo.",
  	email: "Por favor, escribe una dirección de correo válida",
  	url: "Por favor, escribe una URL válida.",
  	date: "Por favor, escribe una fecha válida.",
  	dateISO: "Por favor, escribe una fecha (ISO) válida.",
  	number: "Por favor, escribe un número entero válido.",
  	digits: "Por favor, escribe sólo dígitos.",
  	creditcard: "Por favor, escribe un número de tarjeta válido.",
  	equalTo: "Por favor, escribe el mismo valor de nuevo.",
  	accept: "Por favor, escribe un valor con una extensión aceptada.",
  	maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
  	minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
  	rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  	range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  	max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  	min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
	});

    var validator = $('#formulario_registro_empleado').validate({
        rules:{
            username:{
                required:true, 
                minlength:4
            }, 
            first_name:{
                required:true, 
                minlength:4
            }, 
            last_name:{
                required:true, 
                minlength:10
            }, 
            email:{
                required:true,
                email:true
            }, 
            password1:{
                required:true
            },
            password2:{
                required:true
            }, 
            rut_empleado:{
                required:true,
                number:true, 
                minlength:9
            }, 
            nombres:{
                required:true
            }, 
            apaterno:{
                required:true
            }, 
            amaterno:{
                required:true
            },
            telefono:{
                required:true,
                minlength:9, 
                number:true
            }, 
            correo:{
                required:true,
                email:true
            }, 
            tipo_empleado_id_tipo_empleado:{
                required:true
            }, 
            numero:{
                required:true, 
                number:true, 
                min:1
            },
            calle:{
                required:true, 
                minlength:3
            }, 
            piso:{
                required:true, 
                min:1
            }, 
            codigo_postal:{
                required:true, 
                min:10
            }
        }
    })

    


    $('#id_nombres').attr('readonly', true);
    $('#id_apaterno').attr('readonly', true);
    $('#id_amaterno').attr('readonly', true);
    $('#id_correo').attr('readonly', true);

    $("#id_estado_empleado_id_estado_emp").attr('readonly', true)

    $("#id_estado_empleado_id_estado_emp").prop("selectedIndex", 2);

    $("#id_first_name").keyup(function(){
        nombre = ($("#id_first_name").val())
        $('#id_nombres').val(nombre);
    });

    $("#id_last_name").keyup(function(){
        nombre = ($("#id_last_name").val())

        primer_apellido = nombre.split(" ")[0]
        segundo_apellido = nombre.split(" ")[1]
        
        $('#id_apaterno').val(primer_apellido);
        $("#id_amaterno").val(segundo_apellido);
    });


    $("#id_email").keyup(function(){
        nombre = ($("#id_email").val())
        $('#id_correo').val(nombre);
    });


    $('#tabla_empleados').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 
            'excel',
            'pdf', 
            'print'
        ],
    "pageLength": 5,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });

  $('.dataTables_filter').addClass('pull-left');
});
</script>

{%endblock%}