{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{%block css%}
{%endblock%}

{% block contenido%}

    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-lg-6 my-5">
                <h2 class="my-5">Detalle Boleta</h2>
                <form method="POST">
                {% csrf_token %}

                <label for="cboEmpleado">Responsable</label>
                <select class="form-control" name="cboEmpleado" id="cboEmpleado">
                  {% for e in empleados%}
                  <option 
                  {% if e.rut_empleado == venta.EMPLEADO_RUT_EMPLEADO%}
                  {{'selected'}}
                  {%endif%}
                  value="{{e.rut_empleado}}"  id="cboEmpleado">{{e.nombres}}</option>
                  {%endfor%}
                </select>
                {{form | crispy}}
            </div>

            <div class="col-lg-6 mt-5 pt-5">
                <table id="listado_productos" class="table table-hover" style="width:100%">
                    <thead class="">
                        <tr>
                            <th>SKU</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Valor Venta</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for p in productos%}
                        <tr>
                            <td>{{p.ID_PRODUCTO}}</td>
                            <td>{{p.NOMBRE}}</td>
                            <td>{{p.NOMBRE_PROVEEDOR}}</td>
                            <td>{{p.PRECIO}}</td>
                            <td>{{p.STOCK}}</td>
                            <td>
                                <a onclick="selectProducto('{{p.ID_PRODUCTO}}','{{p.NOMBRE}}', '{{p.PRECIO}}', '{{p.STOCK}}')"><i class="fas fa-plus-circle"></i></a>

                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>SKU</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Valor Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="form-group">
                    <label for="id_producto">SKU Producto</label>
                    <input required type="text" readonly class="form-control" name="id_producto" id="id_producto">
                </div>

                <div class="form-group">
                    <label for="nombre_producto text-left">Nombre Producto</label>
                    <input required type="text" readonly class="form-control" name="nombre_producto" id="nombre_producto">
                </div>

                <div class="form-group">
                    <label for="id_cantidad text-left">Cantidad</label>
                    <input required type="text" class="form-control" name="id_cantidad" id="id_cantidad">
                </div>

                <div class="form-group">
                    <label for="id_precio_detalle text-left">Precio</label>
                    <input required type="text" class="form-control" name="id_precio_detalle" id="id_precio_detalle">
                </div>

                <div class="form-group">
                    <label for="id_precio text-left">Total</label>
                    <input required type="text" class="form-control" name="id_precio" id="id_precio">
                </div>

                <div class="form-group">
                    <label for="id_precio text-left">Stock</label>
                    <input required type="text" class="form-control" name="id_stock" id="id_stock">
                </div>

        </div>

                <input class="mt-3 btn btn-success" type="submit" value="Guardar Cambios">
                </form>

        </div>
    </div>





<div class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <hr>
            <h5>Listado Productos Asociados a la Boleta</h5>
            <hr>
            <table id="example1" class="table table-hover" style="width:100%">
                <thead class="">
                    <tr>
                        <th>Numero Boleta</th>
                        <th>SKU Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if productos_boleta %}
                    {%for prod in productos_boleta%}
                    <tr>
                        <td>{{prod.BOLETA_ID_BOLETA}}</td>
                        <td>{{prod.ID_PRODUCTO}}</td>
                        <td>{{prod.NOMBRE}}</td>
                        <td>{{prod.CANTIDAD}}</td>
                        <td>{{prod.PRECIO}}</td>
                        <td>{{prod.TOTAL}}</td>
                        
                        <td>
                            <span><a href="#" onclick="confirmarEliminarProductoBoleta('{{prod.BOLETA_ID_BOLETA}}', '{{prod.ID_PRODUCTO}}', '{{prod.CANTIDAD}}', '{{prod.TOTAL}}')"  ><i class="fas fa-trash-alt text-dark"></i></a></span>
                        </td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Numero Factura</th>
                        <th>SKU Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

</div>


{%endblock%}

{%block js%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js'%}"></script>
<script>

    function confirmarEliminarProductoBoleta(idBoleta, idProducto, cantidad, total){
        console.log(idBoleta, idProducto, cantidad, total)

        
        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
      
      swalWithBootstrapButtons.fire({
        title: 'Estas Seguro?',
        text: "No Puedes Revertir Esta Accion!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, Eliminar Producto de Boleta',
        cancelButtonText: 'No, cancelar!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
        
        window.location.href = "/eliminar_producto_boleta/"+idBoleta+"/"+idProducto+"/"+cantidad+"/"+total+"/";
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelado',
            'El Producto No fue eliminado de boleta :)',
            'error'
          )
        }
      })
    }


    $(document).ready(function(){
    $("#id_precio").val(0);

    $('#id_precio').attr('readonly',true);
    $('#id_precio_detalle').attr('readonly',true);

    $('#listado_productos').DataTable({
    "pageLength": 2,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });

  $('#listado_boletas').DataTable({
    "pageLength": 5,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });
    }); 

    function selectProducto(id, nombre, valor, stock) {
        console.log(id,nombre,valor);
        if(stock == 0){
            Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'No hay Stock de este Producto'
            })
        }else{
            $("#id_producto").val(id);
            $("#nombre_producto").val(nombre);
            $("#id_precio_detalle").val(valor);
            $("#id_stock").val(stock);
        }
    }

    $("#id_cantidad, #id_precio_detalle").change(function(){

        let cantidad, precio, total, stock;

        cantidad = $("#id_cantidad").val();
        cantidad = cantidad === "" ? 0 : +cantidad;
        cantidad = cantidad<0 ? 0 : cantidad;

        stock = $("#id_stock").val();

        if(cantidad > stock){
            Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'La Cantidad Ingresada supera el stock disponible'
            })    
        }else{
            precio = $("#id_precio_detalle").val();
            precio = precio === "" ? 0 : +precio;
            precio = precio<0 ? 0 : precio;

            total = precio * cantidad;

            totalActual =  parseInt($("#id_total").val())  + total; 

           $("#id_precio").val(total);
           $("#id_total").val(totalActual);
        }

    })
</script>
{%endblock%}
