{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}


{%block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" >
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{%endblock%}

{% block contenido%}

<div class="container mt-5 pt-5">

    <div class="col-lg-12 my-5">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info"  target="_blank" href="{%  static 'core/manuales/manual_modificar_cliente.pdf' %}">Manual Modificar Cliente</a>
        </div>
    </div>
    <div class="mt-5">
        <h3 class="my-5 pt-5">Modificar Cliente</h3>
    </div>

    <div class="row">
        <div class="col-lg-12"> 
            <h5>Datos Cliente</h5>
            <hr>
             <form action="" method="POST" id="formulario_modify_cliente">
                 {% csrf_token %}

                 {{form | crispy}}
             
        

        <div class="col-lg-12">
            <h5>Datos Direccion</h5>
            <hr>

            <input type="hidden" value="{{direccion_cliente.DIRECCION_ID_DIRECCION}}" name="id_dir" id="id_dir">

            <div class="form-group">
                <label for="id_numero text-left">Numero</label>
                <input required type="number" class="form-control" name="id_numero" id="id_numero" value="{{direccion_cliente.NUMERO}}">
            </div>

            <div class="form-group">
                <label for="id_calle text-left">Calle</label>
                <input required type="text" class="form-control" name="id_calle" id="id_calle" value="{{direccion_cliente.CALLE}}">
            </div>

            <div class="form-group">
                <label for="id_piso text-left">Piso</label>
                <input required type="number" class="form-control" name="id_piso" id="id_piso" value="{{direccion_cliente.PISO}}">
            </div>

            
            <div class="form-group">
                <label for="id_codigo_postal text-left">Codigo Postal</label>
                <input required type="number" class="form-control" name="id_codigo_postal" id="id_codigo_postal" value="{{direccion_cliente.CODIGO_POSTAL}}">
            </div>

            <label for="cboTipoVivienda">Tipo Vivienda</label>
            <select class="form-control" name="cboTipoVivienda" id="cboTipoVivienda">
                {% for t in tipo_vivienda%}
                <option 
                {% if t.id_tipo_vivienda == direccion_cliente.TIPO_VIVIENDA_ID_TIPO_VIVIENDA%}
                {{'selected'}}
                {%endif%}
                value="{{t.id_tipo_vivienda}}"  id="cboTipoVivienda">{{t.descripcion}}</option>
                {%endfor%}
              </select>


              <label for="cboComuna">Comuna</label>
              <select class="form-control" name="cboComuna" id="cboComuna">
                  {% for c in comuna%}
                  <option 
                  {% if c.id_comuna == direccion_cliente.COMUNA_ID_COMUNA%}
                  {{'selected'}}
                  {%endif%}
                  value="{{c.id_comuna}}"  id="cboComuna">{{c.descripcion}}</option>
                  {%endfor%}
                </select>

        </div>

        <div>
            <div class="row">
                <div class="col-lg-12 my-5">
                    <span><input class="btn btn-success" type="submit" value="Guardar Cambios"></span> <span><a class="btn btn-danger" href="{% url 'listado_clientes' %}">Descartar Cambios</a></span>
                    
                </div>

                <div class="col-lg-12 mt-4">
                    {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        {{mensaje}}
                    </div>
                    {% endif%}
                </div>
            </div>
            
        </div>

    </form>
    </div>
</div>

<style>
    #id_rut_cliente-error, #id_nombres-error, #id_apaterno-error, 
    #id_amaterno-error, #id_telefono-error, #id_correo-error, #id_estado_cli_id_estado_cli-error, 
    #id_numero-error, #id_calle-error, #id_piso-error, #id_codigo_postal-error {
        color:red;
    }
</style>

{%endblock%}


{% block js%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script>
    $(document).ready(function(){
    
    jQuery.extend(jQuery.validator.messages, {
  	required: "Este campo es obligatorio.",
  	remote: "Por favor, rellena este campo.",
  	email: "Por favor, escribe una dirección de correo válida",
  	url: "Por favor, escribe una URL válida.",
  	date: "Por favor, escribe una fecha válida.",
  	dateISO: "Por favor, escribe una fecha (ISO) válida.",
  	number: "Por favor, escribe un número entero válido.",
  	digits: "Por favor, escribe sólo dígitos.",
  	creditcard: "Por favor, escribe un número de tarjeta válido.",
  	equalTo: "Por favor, escribe el mismo valor de nuevo.",
  	accept: "Por favor, escribe un valor con una extensión aceptada.",
  	maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
  	minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
  	rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  	range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  	max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  	min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
	});

    var validator = $('#formulario_modify_cliente').validate({
        rules:{
            rut_cliente:{
                required:true
            }, 
            nombres:{
                required:true
            }, 
            apaterno:{
                required:true
            }, 
            amaterno:{
                required:true
            }, 
            telefono:{
                required:true
            }, 
            correo:{
                required:true
            }, 
            estado_cli_id_estado_cli:{
                required:true
            }, 
            id_numero:{
                required:true
            }, 
            id_calle:{
                required:true
            }, 
            id_piso:{
                required:true
            }, 
            id_codigo_postal:{
                required:true
            },
            cboTipoVivienda:{
                required:true
            }
        }
    }); 



    })
</script>
{%endblock%}