{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{% block contenido%}

<div class="container mt-5 pt-5">

  <div class="col-lg-12 my-5">
    <div class="d-flex justify-content-end">
        <a class="btn btn-info"  target="_blank" href="{%  static 'core/manuales/manual_detalle_recepcion.pdf' %}">Manual Detalle Recepcion Orden</a>
    </div>
  </div>

    <div class="my-5 py-5">
        <h3>Detalle de Orden a Recepcionar</h3>
    </div>

    <form action="" method="POST" id="formulario_modificar_recepcion_orden">
        {% csrf_token %}

        <label for="cboProveedor">Proveedor</label>
        <select class="form-control" name="cboProveedor" id="cboProveedor" readonly>
            {% for p in proveedores%}
            <option 
            {% if p.id_proveedor == orden.PROVEEDOR_ID_PROVEEDOR%}
            {{'selected'}}
            {%endif%}
    
            value="{{p.id_proveedor}}">{{p.nombre_proveedor}} </option>
            {%endfor%}
        </select>

        <div class="form-group">
            <label for="txtId">Orden Numero</label>
            <input type="text" class="form-control" readonly name="txtId" id="txtId" value="{{orden.ID_ORDEN_COMPRA}}">
        </div>

        <div class="form-group">
            <label for="txtFechaSolicitud">Fecha Solicitud</label>
            <input readonly type="text" class="form-control" name="txtFechaSolicitud" id="txtFechaSolicitud" value="{{orden.FECHA_SOLICITUD}}">
        </div>

        <label for="cboEmpleado">Responsable</label>
        <select class="form-control" name="cboEmpleado" id="cboEmpleado" readonly>
          {% for e in empleados%}
          <option 
          {% if e.rut_empleado == orden.EMPLEADO_RUT_EMPLEADO%}
          {{'selected'}}
          {%endif%}
          value="{{e.rut_empleado}}"  id="cboEmpleado">{{e.nombres}}</option>
          {%endfor%}
        </select>

        <label for="cboEstado">Estado Orden</label>
        <select required class="form-control" name="cboEstado" id="cboEstado" readonly>
            {% for eo in estadosOrden%}
            <option 
            {% if eo.id_estado == orden.ESTADO_ORDEN_ID_ESTADO%}
            {{'selected'}}
            {%endif%}
            value="{{eo.id_estado}}" id="cboEstado">{{eo.descripcion}}</option>
            {%endfor%}
        </select>

        <div class="form-group">
            <label for="txtNeto">Neto</label>
            <input type="text" class="form-control" readonly name="txtNeto" id="txtNeto" value="{{orden.NETO}}">
          </div>

          <div class="form-group">
            <label for="txtIva">Iva</label>
            <input type="text" class="form-control" readonly name="txtIva" id="txtIva" value="{{orden.IVA}}">
          </div>

          <div class="form-group">
            <label for="txtTotal">Total</label>
            <input type="text" class="form-control" readonly name="txtTotal" id="txtTotal" value="{{orden.TOTAL}}">
          </div>
          <br>

          <hr>
          <h5>Listado Productos Asociados a la Orden De Compra</h5>
          <hr>
          <table id="tabla_productos_orden" class="table table-hover" style="width:100%">
              <thead class="">
                  <tr>
                      <th>id_orden</th>
                      <th>SKU Producto</th>
                      <th>Cantidad</th>
                      <th>Valor Producto</th>
                      <th>Total</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% if productos_orden %}
                  {%for poc in productos_orden%}
                  <tr>
                      <td>{{poc.ID_ORDEN}}</td>
                      <td>{{poc.SKU_PRODUCTO}}</td>
                      <td>{{poc.CANTIDAD}}</td>
                      <td>{{poc.VALOR_PRODUCTO_COMPRA}}</td>
                      <td>{{poc.TOTAL}}</td>

                      <td>
                          <a href="#" onclick="confirmarActualizarStock('{{poc.SKU_PRODUCTO}}', '{{poc.ID_ORDEN}}' ,'{{poc.CANTIDAD}}')"><small>Agregar Al Stock</small></a> 
                      </td>
                  </tr>
                  {%endfor%}
                  {%endif%}
              </tbody>
              <tfoot>
                  <tr>
                      <th>id_orden</th>
                      <th>SKU Producto</th>
                      <th>Cantidad</th>
                      <th>Valor Producto</th>
                      <th>Total</th>
                      <th>Acciones</th>
                  </tr>
              </tfoot>
          </table>


          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <a  href="#" onclick="confirmarAprobarOrden({{orden.ID_ORDEN_COMPRA}})" class="btn btn-success btn-block"> Aprobar Orden </a>
                        </div>

                        <div class="col-lg-6">
                            <a href="#" onclick="confirmarRechazarOrden({{orden.ID_ORDEN_COMPRA}})" class="btn btn-danger btn-block"> Rechazar Orden </a>
                        </div>
                    </div>
                  </div>
              </div>

          </div>


    </form>

</div>
{%endblock%}


{%block js%}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>


<script>

    function confirmarActualizarStock(id, id_orden, cantidad){
        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success my-1',
          cancelButton: 'btn btn-danger my-1'
        },
        buttonsStyling: false
      })
      
      swalWithBootstrapButtons.fire({
        title: 'Estas Seguro?',
        text: "No Puedes Revertir Esta Accion!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, Actualizar Stock de Producto!',
        cancelButtonText: 'No, cancelar Actualizar Stock!',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
        
        window.location.href = "/actualizar_stock_recepcion/"+id_orden+"/"+id+"/"+cantidad+"/";
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelado',
            'El Stock del Producto no fue Actualizado :)',
            'error'
          )
        }
      })
    }


    $(document).ready(function(){

    jQuery.extend(jQuery.validator.messages, {
  	required: "Este campo es obligatorio.",
  	remote: "Por favor, rellena este campo.",
  	email: "Por favor, escribe una dirección de correo válida",
  	url: "Por favor, escribe una URL válida.",
  	date: "Por favor, escribe una fecha válida.",
  	dateISO: "Por favor, escribe una fecha (ISO) válida.",
  	number: "Por favor, escribe un número entero válido.",
  	digits: "Por favor, escribe sólo dígitos.",
  	creditcard: "Por favor, escribe un número de tarjeta válido.",
  	equalTo: "Por favor, escribe el mismo valor de nuevo.",
  	accept: "Por favor, escribe un valor con una extensión aceptada.",
  	maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
  	minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
  	rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  	range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  	max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  	min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
	  });


    var validator = $('#formulario_modificar_recepcion_orden').validate({
      rules:{
        cboProveedor:{
          required:true
        }
      }
    }); 

    $('#tabla_productos_orden').DataTable({
    "pageLength": 5,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });
});



function confirmarAprobarOrden(id){
    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-success',
      cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
  })

  swalWithBootstrapButtons.fire({
    title: 'Estas Seguro de aprobar la orden?',
    text: "Asegurate de agregar al stock los productos antes de aprobar",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Aprobar!',
    cancelButtonText: 'Cancelar!',
    reverseButtons: true
  }).then((result) => {
    if (result.value) {

      swalWithBootstrapButtons.fire(
        'Aprobada!',
        'La orden ha sido aprobada.',
        'success'
      )

      setTimeout(() => {
        window.location.href = "/aprobar_orden_recepcionada/"+id+"/";
      }, 1000);

      
    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
      swalWithBootstrapButtons.fire(
        'Cancelado',
        'La orden no fue cancelada :)',
        'error'
      )
    }
  })
  }


  function confirmarRechazarOrden(id){
    const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-success',
      cancelButton: 'btn btn-danger'
    },
    buttonsStyling: false
  })

  swalWithBootstrapButtons.fire({
    title: 'Estas Seguro de rechazar la orden?',
    text: "",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Rechazar!',
    cancelButtonText: 'Cancelar!',
    reverseButtons: true
  }).then((result) => {
    if (result.value) {

      swalWithBootstrapButtons.fire(
        'Rechazada!',
        'La orden ha sido rechazada.',
        'success'
      )

      setTimeout(() => {
        window.location.href = "/rechazar_orden_recepcionada/"+id+"/";
      }, 1000);

      
    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
      swalWithBootstrapButtons.fire(
        'Cancelado',
        'La orden no fue cancelada :)',
        'error'
      )
    }
  })
  }

</script>
{%endblock%}