{% extends 'core/base.html' %}

{% load static%}

{% block contenido%}
<div class="container mt-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-12 mt-5">
            <h5>PASO 1</h5>
            <hr>
            <div class="progress my-5">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
        </div>
        <div class="col-lg-6 detalle_pedido">
            <h2 class="my-5">Pedido</h2>
            <h5 class="my-3 py-2">Por Favor llena los datos asociados al pedido</h5>


            <p class="fecha_recepcion py-5"> </p>

            <div class="form-group">
                <label for="txtRutTitular">Rut Titular</label>
                <input type="text" readonly class="form-control" name="txtRutTitular" id="txtRutTitular" value="{{rut_cliente}}">
            </div>
        </div>
        <div class="col-lg-6">
            <h5 class="mt-5">Escribe los datos asociados a tu pedido</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <label for="cboEstadoPedido">Estado Pedido</label>
                <select readonly class="form-control" name="cboEstadoPedido" id="cboEstadoPedido">
                  {% for e in estado_ped%}
                  <option 
                  value="{{e.id_estado_pedido}}"  id="cboEstadoPedido">{{e.descripcion}}</option>
                  {%endfor%}
                </select>


                <div class="form-group mt-3">
                    <label for="txtDetallePedido">Detalle Pedido <small>(Referencias, etc.)</small></label>
                    <textarea class="form-control" id="txtDetallePedido" rows="3" name="txtDetallePedido"></textarea>
                </div>

                <div class="form-group mt-3">
                    <label for="txtDireccion">Direccion</label>
                    <textarea class="form-control" id="txtDireccion" rows="2" name="txtDireccion"></textarea>
                </div>

                <label for="cboComuna">Comuna <small>(Solo Hacemos pedidos dentro de la comuna)</small></label>
                <select readonly class="form-control mb-3" name="cboComuna" id="cboComuna">
                    {%for c in comunas%}
                    <option value="{{c.id_comuna}}">{{c.descripcion}}</option>
                    {%endfor%}
                </select>

                <input type="hidden" id="fecha_ped" name="fecha_ped">
                <input type="hidden" id="fecha_recep" name="fecha_recep">

                <label for="cbo_doc_pedido pt-3"> Elige El Metodo de tu compra</label>
                <select class="form-control"  name="cbo_doc_pedido" id="cbo_doc_pedido">
                    <option value="Boleta" id="cbo_doc_pedido">Boleta</option>
                    <option value="Factura" id="cbo_doc_pedido">Factura</option>
                </select>
        </div>

        <div class="col-lg-6">
            <input type="hidden" id="totalInput" name="totalInput">
            <p class=" total font-weight-light my-3"></p>
            
        </div>

        <div class="col-lg-6">

        </div>


        <div class="col-lg-6 my-4">
            <button type="submit" class="btn btn-success" id="btnConfirmarPedido" onclick="guardarProductosPedido()">Confirmar Datos Pedido</button>
            <p id="error_titular"></p>
            {% if mensaje %}
                <div class="alert alert-success mt-2" role="alert">
                    {{mensaje}}
                </div>
            {%endif%}

            <p class="id_pedido" id="id_pedido"> {{id_pedido.ID_MAX}}</p>
        </div>

    </form>

    </div>
</div>

<style>
    .total{
        font-size: 22px;
    }
</style>
{%endblock%}


{% block js%}
 <script>
    Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
    }

    var date = new Date();

    fecha_7 = date.addDays(7).toLocaleDateString()

    document.querySelector('.fecha_recepcion').innerHTML = `Fecha Estimada Para llegada de tu pedido: ${fecha_7}`;  

    document.getElementById('fecha_recep').value = fecha_7;

    document.getElementById('fecha_ped').value = date.toLocaleDateString()

    document.addEventListener('DOMContentLoaded', function(){
        if(document.getElementById('txtRutTitular').value.length < 1){
            document.getElementById('btnConfirmarPedido').setAttribute('disabled', true);

            document.getElementById('error_titular').innerHTML = 'Solo los usuarios de tipo cliente pueden realizar pedidos'
        }
    })

 </script>
{%endblock%}