{% extends 'core/base.html' %}

{% load static%}

{% block contenido%}
<div class="container-fluid carrusel">
    <h3 class="py-4">Productos Destacados</h3>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for p in productos%}
            <li class="glide__slide">
                <img src="{{p.imagen.url}}" alt="">
                <p>{{c.nombre}}</p>
                <p><small>{{p.id_producto}}</small></p>
                <hr>
                <p><small>Quedan: {{p.stock}}</small></p>
                <p><small>Precio: {{p.precio}}</small></p>
                <hr>
                <a href="#" class=" text-dark mt-3 pl-2"><small class="">Agregar Al Carrito</small></a>
            </li>
          {% endfor%}
        </ul>
      </div>

    </div>
    </div>


  <div class="container-fluid py-5" id="lista-productos">

    <h3 class="py-4">Categorias</h3>
    <h5>CERRADURAS</h5>

    <div class="row p-3"> 

      {%for c in prod_tipo_cerradura%}
      <div class="col-lg-3 p-1">
        <img src="{{c.imagen.url}}" alt="..." class="img-responsive w-100">
        <p class="nombre_prod">{{c.nombre}}</p>
        <p><small class="id_prod">{{c.id_producto}}</small></p>
        <hr>
        <p><small class="stock_prod">Quedan: {{c.stock}}</small></p>
        <p><small class="">Precio: <span class="precio_prod">{{c.precio}}</span></small></p>
        <hr>
        <a href="#" class="boton-carrito text-dark agregar-carrito">Agregar Al Carrito</a>
      </div>
      {%endfor%}

    </div>

    <h5 class="py-5">HERRAMIENTAS MANUALES</h5>

    <div class="row p-3"> 
      {% for h in prod_herramientas_manuales%}
        <div class="col-lg-3 p-1">
          <img src="{{h.imagen.url}}" alt="..." class="img-responsive w-100">
          <p class="nombre_prod">{{h.nombre}}</p>
          <p><small class="id_prod">{{h.id_producto}}</small></p>
          <hr>
          <p><small class="stock_prod">Quedan: {{h.stock}}</small></p>
          <p><small>Precio: <span class="precio_prod">{{h.precio}}</span></small></p>
          <a href="#" class="boton-carrito text-dark agregar-carrito">Agregar Al Carrito</a>
        </div>
      {%endfor%}

    </div>

    
  </div>
{%endblock%}

{%block js%}
<script>
        


      const config1 = {
      autoplay:1300,
      type:'carousel', 
      perView: 5
    }
    new Glide('.glide', config1).mount()

    const config2 = {
      autoplay:1500,
      type:'carousel', 
      perView: 4
    }
    new Glide('.glide2', config2).mount()
</script>

{%endblock%}