{% extends 'core/base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{% block contenido%}

<div class="container">

    <div class="col-lg-12 mt-5 pt-5">
        <div class="d-flex justify-content-end mt-5">
            <a class="btn btn-info"  target="_blank" href="{%  static 'core/manuales/manual_recepcion_orden.pdf' %}">Manual Recepcion Ordenes</a>
        </div>
    </div>

    <div class="mt-5 pt-5">
        <h3 class="mb-5 pb-5">Recepcion de Productos</h3>


        <hr>
        <h5>Listado de Ordenes de Compra</h5>
        <hr>

        
<div>
    <div class="container mb-5 pb-5">
        <table id="listado_ordenes" class="table table-hover" style="width:100%">
            <thead class="bg-warning">
                <tr>
                    <th>Orden Nro</th>
                    <th>Fecha Solicitud</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for o in ordenesDeCompra%}
                <tr>
                    <td>{{o.ID_ORDEN_COMPRA}}</td>
                    <td>{{o.FECHA_SOLICITUD}}</td>
                    <td>{{o.NOMBRE}}</td>
                    <td>{{o.DESCRIPCION}}</td>
                    <td>{{o.TOTAL}}</td>
                    <td>
                        <a href="{% url 'modificar_recepcion_orden' o.ID_ORDEN_COMPRA %}"><i class="fas fa-edit text-dark"></i></a>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <th class="mx-5">Proveedor</th>
                    <th>Fecha Solicitud</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
    </div>

</div>
{% endblock %}


{% block js%}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  




<script>

  // Call the dataTables jQuery plugin
  $(document).ready(function() {
  $('#listado_ordenes').DataTable({
    "pageLength": 5,
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left mx-3'></span>",
          "sLast": "<span class='fa fa-angle-double-right mx-3'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });

})

</script>
{%endblock%}